body {
    font-family: Arial, sans-serif;
    background-color: rgb(149, 219, 243);
    text-align: center;
}

h1 {
    color: rgb(249, 5, 5);
}

h2 {
    font-style: initial;
}

img.center {
    display: block;
    margin: 0 auto;
}

p {
    text-align: left;
}
